In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression

In [6]:
data = pd.read_csv('real_estate_price_size_year.csv')
data.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [7]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [8]:
y = data['price']
x = data[['size','year']]

In [9]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
reg.coef_

array([ 227.70085401, 2916.78532684])

In [11]:
reg.intercept_

-5772267.017463278

In [12]:
reg.score(x,y)

0.7764803683276796

In [14]:
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]
adjr2 = 1-(1-r2)*(n-1)/(n-p-1)

In [16]:
adjr2

0.7718717161282503

In [20]:
f_regression(x,y)
p_values = f_regression(x,y)[1]

In [21]:
p_values.round(3)

array([0.   , 0.357])

In [25]:
reg_summary = pd.DataFrame(data=x.columns.values, columns=[]'Features')

TypeError: Index(...) must be called with a collection of some kind, 'Features' was passed

In [23]:
reg_summary

      0
0  size
1  year